.block h2 {
    padding: 1em 2em 0em;
    text-transform: none;
    text-align: center;
}

.block p {
    padding: 0em 2em 0em;
    margin-top: 0;
    text-align: center;
    font-size: 0.9em;
  }

.container_about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_about .block {
    flex-basis: 33.33%;
}

.twitter {
    padding: 0.5em;
}

@media (min-width: 60em) {
    .container_about .block {
        flex-basis: 33.33%;
    }
}

@media (min-width: 40em) and (max-width: 60em) {
    .container_about .block {
        flex-basis: 50%;
    }
}

@media (min-width: 30em) and (max-width: 40em) {
    .container_about .block {
        flex-basis: 100%;
    }
}

@media (max-width: 30em) {
    .container_about .block {
        flex-basis: 100%;
    }
}