/* CSS Document */

@font-face {
	font-family: 'Raleway';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Raleway-Regular.ttf');
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-weight: bold;
	font-style: normal;
    src: url('../fonts/Raleway-Bold.ttf');
	src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

/* do not have raleway italic uploaded */
/* @font-face {
	font-family: 'Raleway';
	font-weight: italic;
	font-style: normal;
    src: url('../fonts/Lato-Italic.ttf');
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
} */

@font-face {
	font-family: 'Raleway';
	font-weight: lighter;
	font-style: normal;
    src: url('../fonts/Raleway-Light.ttf');
	src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-weight: bolder;
	font-style: normal;
    src: url('../fonts/Raleway-ExtraBold.ttf');
	src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

