* {
	box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  padding: 2rem;
  color: #292830; 
  /* main text color ^^ */
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #8B8D91;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: inline-block;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for in-text link */
.in-text_link {
  color: #8B8D91;
  text-decoration: none;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.in-text_link:hover, .in-text_link:focus {
  color: #292830;
}

button[type=submit], button[type=reset] {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
  color: #8B8D91;
  background-color: transparent;
  border: 0.08em solid transparent;
}

button[type=submit]:active, button[type=submit]:hover, button[type=submit]:focus, button[type=reset]:active, button[type=reset]:hover, button[type=reset]:focus {
  color: #292830;
  border: 0.08em solid #292830;
}


/* Styling for form */
.form_general {
  
}

::placeholder {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
}

/* Styling for radio buttons */
.form_radio {}

/* Styling for image links */
.image_link {
  opacity: 1;
  cursor: pointer;
  max-width: 20em;
}

.image_link:hover {
  opacity: 0.7;
  background-color: #2849C1;
}

/* Styling for the navigation button */
.button_nav {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

/* Below is for different colour nav buttons */
.button_default {
  color: #8B8D91;
  background-color: transparent;
  border: 0.08em solid transparent;
}

.button_default:active, .button_default:hover, .button_default:focus {
  color: #292830;
  border: 0.08em solid #292830;
}

.button_dark {
  color: white;
  background-color: #292830;
  border: 0.08em solid #292830;
}

.button_dark:active, .button_dark:hover, .button_dark:focus {
  color: #292830;
  background-color: transparent;
}

.button_trans {
  color: white;
  background-color: transparent;
  border: 0.1em solid white;
}

.button_trans:active, .button_trans:hover, .button_trans:focus {
  background-color: #292830;
  border-color: #292830;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 600;
}

h4 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Open Sans", sans-serif;
  padding: 0.5em 0em;
  max-width: 60em;
  font-weight: normal;
}

ol {
  padding: 0em 1em;
}

li {
  padding: 0.5em 0em;
  max-width: 60em;
  font-weight: normal;
}

/* 
  COMBINED ELEMENTS -------------------
*/

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5em;
}

nav a {
  
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
  color: #8B8D91;
  background-color: transparent;
  border: 0.08em solid transparent;
}

nav a:active, nav a:hover, nav a:focus {
  border-bottom: 0.08em solid #8B8D91;
  color: #292830;
}

/* Styling for payment form */

.payment_form {
  
}


/* 
  BRANDING----------------------
*/

.colour_palette{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colour{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 150px;
}

#darkgrey{
  background-color: #292830;
  color: white;
}

#lightgray{
  background-color: #8B8D91;
}

#aqua{
  background-color: #2849C1;
}

#sky{
  background-color: #C6D9FF;
}

#smoke{
  background-color: #F9FCFF;
}
