* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  color: #292830; 
  /* main text color ^^ */
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #8B8D91;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1 {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 600;
}

h4 {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Open Sans", sans-serif;
  padding: 0.5em 0em;
  max-width: 60em;
  font-weight: normal;
}

ol {
  padding: 0em 1em;
}

li {
  padding: 0.5em 0em;
  max-width: 60em;
  font-weight: normal;
}



/* 
NAVIGATION BAR -------------------
*/

nav {
  font-size: 0.8em;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5em;
  z-index: 1;
  overflow: hidden;
}

nav a {
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
  color: #8B8D91;
  background-color: transparent;
  border: 0.08em solid transparent;
}

nav a:active, nav a:hover, nav a:focus {
  border-bottom: 0.05em solid #292830;
  color: #292830;
}

/* hide input spinners https://stackoverflow.com/a/4298216 */
input::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* 
HEADER BAR -------------------
*/

.container_nav {
  position: sticky;
  top: 0;
  margin-top: 0;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  position: sticky;
  z-index: 1;
}

.nav_left {
  margin-top: 0.5em;
  flex-basis: 30%;
  align-content: left;
}

.nav_center {
  flex-basis: 40%;
  text-align: center;
}

.nav_right {
  margin-top: 0.5em;
  flex-basis: 30%;
  align-content: right;
}


