.container_prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_prod .block {
    padding: 2em;
    flex-basis: 25%;
}

a h1 {
    text-decoration: none;
    display: inline-block;
    color: #292830; 
  }
  
  a h2 {
    text-decoration: none;
    display: inline-block;
    color: #292830;
    margin-top: 0; 
    margin-bottom: 0;
  }
  
  a h3 {
    text-decoration: none;
    display: inline-block;
    color: #292830; 
    margin-top: 0.3rem; 
    margin-bottom: 0;
  }
  
  a h4 {
    text-decoration: none;
    display: inline-block;
    color: #8B8D91; 
    margin-top: 0; 
    margin-bottom: 0;
  }

  
@media (min-width: 60em) {
    .container_prod .block {
        flex-basis: 25%;
    }
}

@media (min-width: 40em) and (max-width: 60em) {
    .container_prod .block {
        flex-basis: 25%;
    }
}

@media (min-width: 30em) and (max-width: 40em) {
    .container_prod .block {
        flex-basis: 50%;
    }
}

@media (max-width: 30em) {
    .container_prod .block {
        flex-basis: 100%;
    }
}


