/* Old styling for the navigation button */
.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    background-color: #292830;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
  }
  
  .button-nav:hover, .button-nav:focus {
    background-color: #2849C1;
  }